@import url(../components/eva-typography/icons.css);
html, body {
  margin: 0px;
  padding: 0px; }

@font-face {
  font-family: 'stsemiboldRegular';
  src: url("../components/eva-typography/fonts/st_semibold-webfont.eot");
  src: url("../components/eva-typography/fonts/st_semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../components/eva-typography/fonts/st_semibold-webfont.woff") format("woff"), url("../components/eva-typography/fonts/st_semibold-webfont.svg#stsemiboldRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'StagSansWeb-Light';
  src: url("../components/eva-typography/fonts/StagSansWeb-Light.eot");
  src: url("../components/eva-typography/fonts/StagSansWeb-Light.eot?#iefix") format("embedded-opentype"), url("../components/eva-typography/fonts/StagSansWeb-Light.woff") format("woff"), url("../components/eva-typography/fonts/StagSansWeb-Light.svg#StagSansWeb-Light") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: 'stserifbookRegular';
  src: url("../components/eva-typography/fonts/st_serif_book-webfont.eot");
  src: url("../components/eva-typography/fonts/st_serif_book-webfont.eot?#iefix") format("embedded-opentype"), url("../components/eva-typography/fonts/st_serif_book-webfont.woff") format("woff"), url("../components/eva-typography/fonts/st_serif_book-webfont.svg#stserifbookRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'StagSansWeb-Book';
  src: url("../components/eva-typography/fonts/StagSansWeb-Book.eot");
  src: url("../components/eva-typography/fonts/StagSansWeb-Book.eot?#iefix") format("embedded-opentype"), url("../components/eva-typography/fonts/StagSansWeb-Book.woff") format("woff"), url("../components/eva-typography/fonts/StagSansWeb-Book.svg#StagSansWeb-Book") format("svg");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: 'Which-Icons';
  src: url("../components/eva-typography/fonts/icon_only.eot");
  src: url("../components/eva-typography/fonts/icon_only.eot?#iefix") format("embedded-opentype"), url("../components/eva-typography/fonts/icon_only.woff") format("woff"), url("../components/eva-typography/fonts/icon_only.ttf") format("truetype"), url("../components/eva-typography/fonts/icon_only.svg#Which-Icons") format("svg");
  font-style: normal;
  font-weight: normal; }

.masthead-search {
  background: #fff;
  height: 30px;
  padding: 12px 15px 13px;
  overflow: hidden; }
  .masthead-search #sli_search_masthead::-webkit-input-placeholder {
    color: #41606f; }
  .masthead-search #sli_search_masthead:-moz-placeholder {
    color: #41606f; }
  .masthead-search #sli_search_masthead::-moz-placeholder {
    color: #41606f; }
  .masthead-search #sli_search_masthead:-ms-input-placeholder {
    color: #41606f; }
  .masthead-search #sli_search_masthead:focus::-webkit-input-placeholder {
    color: #fff; }
  .masthead-search #sli_search_masthead:focus:-moz-placeholder {
    color: #fff; }
  .masthead-search #sli_search_masthead:focus::-moz-placeholder {
    color: #fff; }
  .masthead-search #sli_search_masthead:focus:-ms-input-placeholder {
    color: #fff; }

.masthead-search-box {
  width: 500px;
  text-align: right;
  float: right; }
  .masthead-search-box #sli_search_masthead {
    width: 360px;
    font: 18px 'StagSansWeb-Light', Helvetica, Arial, sans-serif; }

#masthead-search-form fieldset {
  border: none;
  padding: 0; }
#masthead-search-form input {
  height: 30px;
  padding: 0 10px;
  border: 1px solid #dddddd; }
#masthead-search-form .search-button {
  font-family: 'Which-Icons';
  font-size: 24px;
  border: none;
  display: inline-block;
  cursor: pointer;
  background: #6c8896;
  color: #fff;
  height: 32px;
  vertical-align: top;
  padding: 0px 15px 0px 20px;
  line-height: 30px;
  -webkit-appearance: none;
  -webkit-border-radius: 0; }

.masthead-search-title {
  font: 30px 'StagSansWeb-Light', Helvetica, Arial, sans-serif;
  color: #4c626c;
  float: left; }
