<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Mega Menu static</title>
  <link rel="stylesheet" href="styles.scss">
</head>
<body>
  
  <div class="mega-menu">
    <div class="menu-item active">Technology</div>
    <div class="menu-item">Home &amp; garden</div>
    <div class="menu-item">Cars</div>
    <div class="menu-item">Money</div>
    <div class="menu-item">Baby &amp; child</div>
    <div class="menu-item">Energy</div>
    <div class="menu-item no-submenu">Podcasts</div>
    <div class="menu-item no-submenu">News</div>
    <div class="menu-item no-submenu">Videos</div>
  </div>

  <!-- <div class="mega-menu-block">
    <h3>Technology</h3>
    <ul>
        <li>TV &amp; DVD</li>
        <li>Computing</li>
        <li>Camcorders</li>
        <li>Photography</li>
        <li>Audio</li>
        <li>Phones</li>
        <li>Software</li>
        <li>Broadband, TV &amp; Phone</li>
    </ul>
  </div>
  <div>
      <h3>Home &amp; Television</h3>
      <ul>
          <li>Kitchen</li>
          <li>Laundry &amp; Cleaning</li>
          <li>Heating, Water &amp; Electricity</li>
          <li>Bathroom &amp; Personal Care</li>
          <li>Garden</li>
          <li>Home Improvements</li>
          <li>Leisure</li>
      </ul>
  </div>
  <div>
      <h3>Cars</h3>
      <ul>
          <li>Car reviews</li>
          <li>Driving your car</li>
          <li>Choosing a car</li>
          <li>Which? Car Survey</li>
      </ul>
  </div>
  <div>
      <h3>Money</h3>
      <ul>
          <li>Savings &amp; Investments</li>
          <li>Credit cards &amp; loans</li>
          <li>Retirement</li>
          <li>Bills &amp; budgeting</li>
          <li>Insurance</li>
          <li>Mortgages and property</li>
          <li>Bank accounts</li>
          <li>Tax</li>
      </ul>
  </div>
  <div>
      <h3>Baby &amp; child</h3>
      <ul>
          <li>Baby transport</li>
          <li>Nursery &amp; feeding</li>
          <li>Child safety at home</li>
      </ul>
  </div>
  <div>
      <h3>Energy</h3>
      <ul>
          <li>Saving money</li>
          <li>Energy saving products</li>
          <li>Create an energy saving home</li>
      </ul>
  </div> -->
</body>
</html>