// Masthead search

.masthead-search {
  background: #ffffff;
  height: 30px;
  padding: 12px 15px 13px;
  overflow: hidden;
}

.masthead-search-box {
  width: 500px;
  text-align: right;
  float: right;

  #sli_search_masthead {
    width: 360px;
    font: 18px 'StagSansWeb-Light', Helvetica, Arial, sans-serif;
  }
}

#masthead-search-form {
  fieldset {
    border: none;
    padding: 0;
  }

  input {
    height: 30px;
    padding: 0 10px;
    border: 1px solid #dddddd;
  }

  .search-button {
    font-family: 'StagSansWeb-Book', Helvetica, Arial, sans-serif;
    font-size: 24px;
    border: none;
    display: inline-block;
    cursor: pointer;
    background: #6c8896;
    color: #ffffff;
    height: 32px;
    vertical-align: top;
    padding: 0px 15px 0px 20px;
    line-height: 30px;
  }
}

.masthead-search-title {
  font: 30px 'StagSansWeb-Light', Helvetica, Arial, sans-serif;
  color: #4c626c;
  float: left;
}
