	<div id="r22">
		<h2>Thank you</h2>
		<p>You're now signed up to our free update service.  If you wish to unsubscribe at any time, please click the link at the bottom of our emails or notify us at <a href="mailto:privacy@which.co.uk">privacy@which.co.uk</a></p>

		<div class="pin">&nbsp;</div>
	</div>