// Core global navigation components

$logo-main-path: '../img/logo.gif' !default;
$logo-dark-path: '../img/logo-dark.gif' !default;

// Colours
$dark-grey: #2f2f2f;
$bar-grey: #363f48;
$aqua:          #00ac9d;
$green:         #00ae4d;
$light-green:   #82c55b;
$lime:          #c7db49;
$yellow:        #ffe600;
$dark-yellow:   #ffc20e;
$orange:        #f7941d;
$red:           #ed1c24;
$pink:          #ef435e;
$magenta:       #e4028c;
$dark-pink:     #bd2b91;
$purple:        #863f98;
$light-purple:  #7467ae;
$dark-blue:     #005fae;
$cyan:          #008fd5;
$light-blue4:   #00b4eb;
$light-blue3:   #66c7f1;
$light-blue2:   #a8e0f9;
$light-blue1:   #e4f5fd;
$stone-grey4:   #6e6664;
$stone-grey3:   #928a89;
$stone-grey2:   #bbb5b4;
$stone-grey1:   #ebe9e9;
$cool-grey4:    #41606f;
$cool-grey3:    #6c8896;
$cool-grey2:    #9eb3be;
$cool-grey1:    #d8e2e7;
// Sizes..components

$nav-height: 55px;
$top-border-height: 7px;
$padded-line-height: 40px;

// General

.global-nav {
  color: $dark-grey;
  font-size: 14px;
  font-family: 'StagSansWeb-Book' !important;
  line-height: 1.4;
}

///////////////
// Resets

.global-nav {
  /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
  */

  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed, 
  figure, figcaption, footer, header, hgroup, 
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure, 
  footer, header, hgroup, menu, nav, section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  input {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  }
}



///////////////

.global-nav {
  a {
    color: $dark-grey;
    text-decoration: none;
  }

  a:hover {
    color: $cyan;
  }
  
  h2, h3 {
    margin: 0;
    color: $cyan;
  }

  h2 {
    font-family: 'StagSansWeb-Light' !important;
    font-weight: normal;
    font-size: 45px;
    margin-top: -10px;
    line-height: 50px;
  }

  h3 {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 14px;
    //border-top: 1px solid $stone-grey1;
  }
  
  img {
    border: none;
  }

  // Clears
  
  .group:before,
  .group:after {
    content: "";
    display: table;
  } 
  .group:after {
    clear: both;
  }
  .group {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
  }

  // Nav bar

  .nav-bar {
    height: $nav-height;
    width: 100%;
    background: $bar-grey;
    line-height: $nav-height;
  }

  .nav-left {
    float: left;
  }

  .nav-right {
    float: right;
  }

  // Buttons

  .button {
    line-height: $nav-height;
    height: $nav-height;
    //padding: 0px 20px;
    display: inline-block;
    float: left;
    cursor: pointer;
    font-weight: 100;
    color: #FFF;
    -moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none;
    -webkit-border-radius: 0px; 
    -moz-border-radius: 0px; 
    border-radius: 0px; 
  }

  .button-label {
    border-left: 1px solid $stone-grey4; // Removed in ie lt 9
    padding: 5px 15px 5px 20px;
    line-height: 40px;
    display: inline;
  }

  .show-signup .button-label {
    border-left: 1px solid $cool-grey3;
    padding: 5px 0px 5px 10px;
    line-height: 40px;
    display: inline;
  }
  .logo-button.main {
    background: url($logo-main-path);
  }

  .logo-button.sub {
    background: url($logo-dark-path);
  }

  .logo-button,
  .logo-button a {
    width: 86px;
    height: 55px;
    padding: 0;
  }

  .quicklink-button {
    line-height: 48px;
    border-top: $top-border-height solid $bar-grey;
    height: 45px;
    overflow: hidden;
    padding: 0px 0px 0px 0px;
  }

  .show-menu {
  }

  .show-menu .button-label {
    font-size: 25px;
    padding: 0px 25px 0px 17px;
  }

  .show-menu .icon-list {
    margin-right: -10px;
    margin-left: 3px;
    margin-top: 12px;
    padding: 0;
  }

  .quicklink-button:hover {
    border-top: $top-border-height solid $cyan;
    line-height: $nav-height - $top-border-height;
    height: 48px;
  }

  .quicklink-button.button-on {
    border-left: none;
    border-right: none;
    padding-top: 0;
    line-height: $nav-height - $top-border-height;
    height: $nav-height - $top-border-height;
    background: #FFF;
    border-top: $top-border-height solid $cyan;
    background: #FFF;
    color: $dark-grey;
  }

  .show-search {
    border-top: $top-border-height solid $bar-grey;
    height: 43px;
    line-height: 40px;
  }

  .show-search:hover {
    border-top: $top-border-height solid $cyan;
    height: 43px;
  }
  
  .show-search.button-on {
    border-top: $top-border-height solid $cool-grey1;
    height: 48px;
  }

  .show-search.button-on:hover {
    height: 48px;
    border-top: $top-border-height solid $cool-grey1;
  }

  .button-on .button-label {
    border: 0;
  }

  .show-search.button-on,
  .show-menu.button-on {
    background: $cool-grey1;
    color: #FFF;
  }

  .show-signin,
  .show-signup {
    background: $cool-grey4;
    padding: $top-border-height 10px 0px 10px;
    line-height: $nav-height - $top-border-height;
    height: $nav-height - $top-border-height;
  }

  .show-signin a,
  .show-signup a {
    color: #FFF;
  }
  .show-signup {
    padding: $top-border-height 10px 0px 0px;
  }
  .show-account {
    background: $cyan;
    padding: $top-border-height 20px 0px;
    line-height: $nav-height - $top-border-height;
    height: $nav-height - $top-border-height;
  }

  .show-signin.button-on,
  .show-account.button-on {
    border-left: none;
    border-right: none;
    padding-top: 0;
    line-height: $nav-height - $top-border-height;
    height: $nav-height - $top-border-height;
    background: #FFF;
    border-top: $top-border-height solid $cyan;
    background: #FFF;
    color: $dark-grey;
  }
  a .show-signin {
    color: #FFF;
  }

  .spacer {
    margin-right: 30px;
  }

  .off {
    display: none;
  }
  // Icons
  .icon-right {
    font-size: 20px;
  }

  .icon-search {
    font-size: 30px;
  }

  .icon-user {
    font-size: 24px;
    margin-right: 5px;
    vertical-align: middle; 
  }

  .icon-more,
  .icon-less {
    font-size: 18px;
    margin: 0px 0px 0px 10px;
    font-family: 'StagSansWeb-Book' !important;
    border: none;
  }
  // Accounts drop down

  .account-dropdown {
    position: absolute;
    background: #FFF;
    display: none;
    z-index:1000;
    right: 0;
    // top: 55px;
    border-left: 1px solid $stone-grey1;
    border-top: 1px solid $stone-grey1;
    color: $dark-grey;
    width: 150px;
  }

  .account-dropdown ul {
    margin: 0;
    padding: 0;
  }

  .account-dropdown li {
    list-style: none;
    padding: 10px;
    border-bottom: 1px solid $stone-grey1;
  }

  .account-dropdown li.list-button {
    padding: 0px 10px;
    color: $cyan;
    line-height: 40px;
    height: 40px;
    margin-bottom: 0;
  }

  .account-dropdown .icon-right {
    float: right;
    font-size: 24px;
  }

  .account-dropdown .button-text {
    float: left;
  }

  .account-dropdown.signin {
    width: 120px;
  }

  // Search
  
  // Clear homepage styling

  #search input#sli_search_1 {
    border-top: none;
    border-left: none;
    border-right: none;
    padding: none;
    float: none;
  }

  .search-bar {
    background: $cool-grey1;
    height: 60px;
    display: none;
    overflow: hidden;
  }

  .search-inner {
    width: 500px;
    height: 60px;
    margin: auto;
    text-align: center;
    line-height: 60px;
    //position: relative;
    vertical-align: middle;
  }

  .search-box {
    border: none;
    font-family: 'StagSansWeb-Light';
    width: 380px;
    padding: 5px 0px 5px 10px;
    font-size: 18px;
    color: $cool-grey4;
    background: #FFF;
    outline: none;
    -webkit-appearance: none;
    border-radius: 0;
    height: 30px;
    display: inline;
    vertical-align: middle;
    margin: 0px 5px 0px 0px;
  }

  .search-button {
    font-family: 'StagSansWeb-Book', Helvetica, Arial, sans-serif;
    font-size: 24px;
    border: none;
    display: inline-block;
    cursor: pointer;
    background: $cool-grey3;
    color: #FFF;
    height: 40px;
    margin: 0px;
    vertical-align: middle;
    padding: 0px 15px 0px 20px;
  }

  .search-button:hover {
    background: $cool-grey2;
  }

  // Quicklinks

  .quicklinks {
    width: 100%;
    background: #FFF;
    border-bottom: 1px solid $stone-grey3;
    overflow: hidden;
    display: none;
    //margin-bottom: 20px;
  }
  
  .description {
    margin-top: 10px;
    font-size: 18px;
    color: #4c626c;
  }
  
  .column {
    float: left;
    margin: 30px 0px 0px 0px;
  }
  .oneofthree {
    width: 25%;
    padding: 0 2%;
  }
  .twoofthree {
    width: 70%;
  }

  .quicklink {
    overflow: hidden;

  }
  .quicklink .main-links {
    border-top: none;
  }

  .quicklinks {
    border-left: 1px solid $stone-grey1;
    border-right: 1px solid $stone-grey1;
  }

  .quicklinks li.link-set {
    //height: 165px;
    margin-bottom: 20px;
    //min-height: 125px;
    height: 125px;
    overflow: hidden;
  }
  .quicklinks li.link-set.fixed {
    height: 255px;
  }
  
  .quicklinks div.main-links li {
    display: inline-block;
    width: 30%;
    //margin: 0 1.5% 0px 1.5%;
    margin: 0;
    padding: 0 1.5%;
    border-left: 1px solid $stone-grey1;
    float: left;
  }
  
  .quicklinks div.main-links ul,
  .quicklinks div.main-links li ul {
    margin: 0;
    padding: 0;
    display: inline-block;
  }

  .quicklinks div.main-links ul {
    margin-bottom: 20px;
  }

  .quicklinks div.main-links li li {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    margin: 0px 0px 5px 0px;
    padding: 0;
    color: $dark-grey;
    border-left: none;
  }
  .quicklinks .arrow {
    display: none;
  }
  .quicklinks a {
    color: $dark-grey;
  }
  .quicklinks a:hover {
    color: $cyan;
  }
  .quicklinks h3 a {
    color: $cyan;
    text-decoration: none;
  }

  .quicklinks h3 a:hover {
    color: $stone-grey4;
  }
  .quicklink {
    border-bottom: none;
  }

  .quicklink .icon-more {
    display: none;
  }
  .main-links {
    display: block;
  }

  // Switches

  .switch-a {
    display: inline-block;
  }

  .switch-b {
    display: none;
  }
}

@media screen and (max-width: 320px) {
  .global-nav {
    width: 320px;
  }
}

@media screen and (max-width: 890px) {
  .global-nav {
    .search-bar {
      border-bottom: 1px solid $stone-grey1;
    }

    // Buttons

    // Quicklinks
    .quicklinks {
      display: block;
    }
    
    .quicklinks h2 {
      margin: 0;
      font-size: 30px;
    }

    .quicklinks h3 {
      padding-top: 10px;
    }

    .quicklinks
    .column {
      float: none;
    }
    
    .oneofthree,
    .twoofthree {
      margin: 0;
      border-bottom: 1px solid $stone-grey1;
    }

    .oneofthree {
      width: 100%;
      padding: 10px 0px 10px 10px;
    }
    .twoofthree {
      width: 95%;
      display: none;
      padding: 0px 30px 0px 10px;
    }
    
    .quicklinks {
      display: none;
    }
    .quicklink .mob-button {
      cursor: pointer;
    }
    
    .description {
        display: none;
      }
    .quicklink .icon-more {
      font-size: 30px;
      float: right;
      display: inline;
      margin-right: 20px;
    }

    .quicklinks div.main-links li {
      display: inline-block;
      border: none;
      line-height: 1;
      overflow: hidden;
    }

    .quicklinks div.main-links li li,
    .quicklinks div.main-links li {
      float: none;
      display: inline;
      margin-right: 10px;
    }

    .quicklinks li a {
      -ms-word-break: break-all;
      word-break: break-all;
      word-break: break-word;
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      hyphens: auto;
      line-height: 1.4;
      font-size: 16px;
    }

    .quicklinks li{
      display: inline-block;
    }
    .quicklinks div.main-links ul {
      margin-bottom: 0;
    }

    .quicklinks div.main-links li ul{
      margin-bottom: 0px;
    }
    // Buttons

    

    // Switches
    .switch-a {
      display: none;
    }
    .switch-b {
      display: inline-block;

    // Icons
    
    }
  }
}

@media screen and (max-width: 450px) {
  .global-nav {
    .show-account {
      padding: 5px 18px 2px 23px;
      //font-size: 11px;
    }
    .icon-user {
      margin: 0;
    }
    .account-btn-label {
      display: none;
    }
    .show-signin {
      padding-left: 20px;
      padding-right: 15px;
    }
    .show-signup, 
    .login-label {
      display: none;
    }
    .search-inner {
      width:300px;
      margin: auto;
      text-align: center;
      //position: relative;
    }
    .search-box {
      border: none;
      font-family: 'StagSansWeb-Light';
      width: 200px;
      padding: 5px;
      font-size: 18px;
      color: $stone-grey2;
      background: #FFF;
      outline: none;
      display: inline;
      height: 20px;
    }
    .search-button {
      font-family: 'StagSansWeb-Book', Helvetica, Arial, sans-serif;
      font-size: 24px;
      border: none;
      display: inline;
      cursor: pointer;
      background: $cool-grey3;
      color: #FFF;
      height: 30px;
      margin: 0px;
      vertical-align: middle;
      padding: 0px 5px 0px 10px;
      cursor: pointer;
      position: relative;
      
    }
  }
}
@media screen and (min-width: 1000px) {
  .global-nav {
    .quicklinks li.link-set {
      //height: 165px;
      margin-bottom: 20px;
      min-height: 100px;
      overflow: hidden;
    }
  }
}
