// Core Which colours and variations

$black:         #001722;
$aqua:          #00ac9d;
$green:         #00ae4d;
$light-green:   #82c55b;
$lime:          #c7db49;
$yellow:        #ffe600;
$dark-yellow:   #ffc20e;
$orange:        #f7941d;
$red:           #ed1c24;
$pink:          #ef435e;
$magenta:       #e4028c;
$dark-pink:     #bd2b91;
$purple:        #863f98;
$light-purple:  #7467ae;
$dark-blue:     #005fae;
$cyan:          #008fd5;
$light-blue4:   #00b4eb;
$light-blue3:   #66c7f1;
$light-blue2:   #a8e0f9;
$light-blue1:   #e4f5fd;
$stone-grey4:   #6e6664;
$stone-grey3:   #928a89;
$stone-grey2:   #bbb5b4;
$stone-grey1:   #ebe9e9;
$cool-grey4:    #41606f;
$cool-grey3:    #6c8896;
$cool-grey2:    #9eb3be;
$cool-grey1:    #d8e2e7;

$lighter-green: #cde8bd;
$lighter-aqua: #b2e6e1;
$lighter-purple: #d5d1e7;
$lighter-blue: #b2cfe7;
$lighter-pink: #fcd9df;
