// IE8 styles

// navigation elements

.mega-menu {
	.nav-links {

		.mi-0 a {
			width: 125px;
		}

		.mi-1 a {
			width: 158px;
		}

		.mi-2 a {
			width: 75px;
		}

		.mi-3 a {
			width: 90px;
		}

		.mi-4 a {
			width: 133px;
		}

		.mi-5 a {
			width: 95px;
		}

		.mi-6 a {
			width: 106px;
		}	

		.mi-7 a {
			width: 82px;
		}

		.mi-8 a {
			width: 94px;
		}
	}

	.menu-sub-image img {
		border: 0;
	}
}