/* IE7 */

/* Text scaling fixes - Group these into common rules once CSS complete */

/* Design fixes */
#masthead {
    margin-bottom:4px;
}
#tabs li:hover {
    position:relative;
}
#user-controls ul li a {
    display:block;
    padding-top:1px;
}
#user-controls ul li.last a {
    padding-top:0;
}
#sub-nav ul {
    position:relative;
}
#sub-nav ul li a {
    line-height:14px;
}
#sub-nav ul li.open ul li a,
#sub-nav ul li.open ul li.last a,
#sub-nav ul li.open ul li.open ul li a,
#sub-nav ul li.open ul li.open ul li.last a {
    background-position:0 7px;
}
#story-teaser div.transparency {
    background:url(/assets/images/design/bg-advice-cat-splash.png) no-repeat center top;
    filter:alpha(opacity=80);
}
#story-teaser div.transparency div {
    filter:alpha(opacity=100);
    position:relative;
}

/* Form fixes */
form.careers div.registered input {
    float:left;
}
form.no-legend p.note {
    padding-bottom:0;
}
form.no-legend fieldset {
    padding-top:15px;
}
form.careers ul.check-boxes,
form.careers ul.radio-buttons {
    margin-left:-5px;
}
form.careers div.question label,
form.careers div.question input,
form.careers ul.check-boxes label,
form.careers ul.check-boxes input,
form.careers ul.radio-buttons label,
form.careers ul.radio-buttons input {
    vertical-align:middle;
}
#content ul.checkboxes li label,
#content ul.radiobuttons li label {
    margin-top:3px;
}
#content form.standard fieldset,
#content form.sign-up fieldset {
    background:url(/assets/images/design/bg-standard-form-top.png) no-repeat 0 10px;
}
#content fieldset#sign-up-lower input {
    vertical-align:middle;
}
#content form.shopping fieldset {
    background:url(/assets/images/design/bg-standard-form-top-lrg.png) no-repeat 0 10px;
}
/*#content form.standard div span.mandatory {
    margin-right:-10px;
    padding-left:0;
    position:absolute;
    z-index:1000;
}*/
#content form.standard fieldset,
#content form.sign-up fieldset {
    background:url(/assets/images/design/bg-standard-form-top.png) no-repeat 0 10px;
    margin-bottom:15px;
}
#content form.standard div.wrapper {
    width:673px;
}
.one-column #content form.standard fieldset,
#content form.sign-up fieldset {
    background:url(/assets/images/design/bg-standard-form-top-lrg.png) no-repeat 0 10px;
}
.one-column #content form.standard div.wrapper {
    float:left;
    width:908px;
}
div#basket table tr.subhead th,
form#basket table tr.subhead th {
    padding:5px 10px;
}
#content form.standard div input.text,
#content form.standard div input.small-text {
    float:left;
}
#content form.standard div input.small-text {
    margin-right:3px;
}
#content form.standard div select {
    float:left;
}
#content form.standard div span.divider {
    float:left;
    padding:0 8px;
}
#content form.standard span.hint {
    float:left;
    margin:5px 0 0 10px;
}
#content #interactive-tool form .element .additional-info {
    margin:0 0 0 8px;
}
/*Sign up form*/
#content form.sign-up div.wrapper {
    width:908px;
    border:none;
    background:url(/assets/images/design/bg-standard-form-end-lrg.png) no-repeat left bottom;
}
/* Content fixes */
#content ul.links li {
    background:url(/assets/images/bullets/blt-blue-circle.png) 0 2px no-repeat;
}
#content ul.checkmarks li {
    background-position:0 3px;
}
#guide-list-numeric h3 {
    margin-top:-20px;
}
#advice-single-guide li h3.item-heading {
    margin-top:-20px;
}
#guide-list-numeric a {
    cursor:pointer;
}
#section-index h2 span {
    margin-top:-2px;
}

/*  Sign-up Fixes  */
#content form.sign-up fieldset {
    margin-top:25px;
}
#content form.sign-up fieldset#sign-up-lower {
    padding-top:0;
}
#content #your-account fieldset legend {
    left:-7px;
}
#content #your-account fieldset div label {
    vertical-align:middle;
}

/* Component IT.WOL.X.X:Interactive tool e.g. the minical fixes */
#content #interactive-tool p.error {
    margin-left:325px;
}
#content #interactive-tool .single-checkbox {
    padding-bottom:8px;
    width:95%;
}
#content #interactive-tool div.comments label {
    margin:0;
    width:667px;
}
#content #interactive-tool div.comments li {
    display:inline;
}
#content .third-party div.element {
    min-height:26px;
}
#content #interactive-tool .checkboxes label {
    margin-top:2px;
}
#content #interactive-tool .checkboxes li {
    padding-bottom:3px;
}
#content #interactive-tool .checkboxes input {
    margin-left:7px;
}
#content #interactive-tool select#stories {
    margin-left:5px;
}
#content .third-party select {
    margin-left:5px;
}
#content .third-party div.single-checkbox label {
    width:610px;
}
#content #interactive-tool #help-desk .single-checkbox label {
    width:590px;
}
#content #interactive-tool div.instructions span.mandatory {
    margin-right:0;
    position:static;
}
#content div.guides-container table.guides-list {
    padding:0 13px;
    width:920px;
}
#content div.guides-container table.guides-list tr td {
    padding:15px 10px;
}
/*
#content #interactive-tool form div.col-1 div.hidden-box {
margin:10px 12px 0 12px;
}
*/
#content #interactive-tool form.mortgage-search div.col-1 div.hidden-box div {
    width:131px;
    border:0px solid red;
}
#content #interactive-tool form.mortgage-search div.col-1 div.hidden-box div input {
    margin-top:2px;
}
#content #interactive-tool form.mortgage-calculators div.radios input {
    margin-top:-3px
}
#content #interactive-tool form .element input,
#content #interactive-tool form .element p {position:relative;}
#content #interactive-tool form .element select {
    margin-left:5px;
}
/* Promo panels */
#campaign-promo-updates form fieldset #sign-up-campaign,
#free-promo-updates form fieldset #sign-up-campaign {
    margin-left:-5px;
}

/* Component BB.5.*:product finder */   
#content #filter-panel {
    overflow:hidden;
}
#content #filter-panel #filter-tabs li.on strong,
#content #filter-panel #filter-tabs li {
    zoom:1;
}
#content #filter-panel #filters #cols #colone {
    height:200px;
}

/* non subscriber styles (i.e. the 2 column "subscribe now" overlay */  
#content table.results td.non-subscriber-top ul li.best-buy,
#content table.results td.non-subscriber-top ul li.dont-buy {
    padding-top:7px;
}
#product-finder .range-inputs * {
    float:left;
}
#product-finder .range-inputs label {
    padding-top:3px;
}
#product-finder .range-inputs input.button {
    margin-top:-1px;
}
#product-finder .range-inputs input.text {
    margin-right:3px;
}

/* Home page masthead */
#homepage-header em {
    margin-top:4px;
}

/* Subscription Panels */
.subscription-panel-b {
    min-height:0;
}

/* Forms errors */
#content #interactive-tool form.minical p.error,
#content #interactive-tool form.standard p.error {
    margin:5px 0 5px 260px;
}
#content #interactive-tool form.mortgage-search div.col-1 p.error {
    margin:10px 0 5px 270px;
}

/* Single Sales */
#checkout-content #expired-reports ol li,
#checkout-content #download-reports ol li {
    height:80px;
}
#introduction {
    height:99px;
    z-index:-1;
}

/* =shopping-basket */
#shopping-basket table {
    border-collapse:collapse;
}

/* =basket */       
table#basket {
    border-collapse:collapse;
}

/* form */ 
#content form.compact fieldset {
    background:url(/assets/images/design/bg-compact-form-top.png) no-repeat 0 10px;
}
#content form.compact div.wrapper {
    margin:0 0 10px 0;
}
#content form.compact div.details input {
    margin:-2px 4px 0 -4px;
}
#content form.compact div a.button.ccv {
    top:-4px;
}
#content form.compact div a.button.autofill {
    top:-5px;
}
#content form.compact .fieldWrapper span img {
    margin-top:-6px;
}

/* panel */     
#content .panel input.text {
    position:relative;
}

/* Books & mags */
.books-signup-store {
    padding-bottom:0;
}

/* Campaigns */
#small-splash ul li {
    background-position:0 3px;
}
/*Compare*/
/* http://www.charlesgarwood.com/blog/?p=13 */
table.basic {
    border-collapse:collapse;
}
#content .filter ul li.on a {
    background:none; /*Due to IE flickering bug on hover*/
}
#content .filter ul li.on a:hover {
    background:#e6F5Fa; /*Due to IE flickering bug on hover*/
}
.filter form fieldset p.on a {
    background:none; /*Due to IE flickering bug on hover*/
}
.filter form fieldset p.on a {
    background:#e6F5Fa; /*Due to IE flickering bug on hover*/
}
#compare-search {
    padding-top:2px;
    min-height:29px;
}
#compare-search form #keywords {
    margin:5px 0 -5px 0;
    min-height:21px;
}
#submit-pagination input {
    margin:0;
}

/* Marketing promos */
#sidebar .marketing .inner {min-height:0;}

.full-box-1 fieldset.voucher p  {
    margin-top:1px;
}
#sidebar .promo-5 h3 {
    font-size:1.19em;
}
#sidebar .promo-7 .wrapper {
    padding-bottom:9px;
}
#sidebar .promo-7 ul {
    margin-bottom:0px;
}
#sidebar .promo-7 li.single, #sidebar .promo-8 li.single {
    padding-bottom:17px;
}

/* Search highlight */
.hightlight-box {
    position:relative;
    min-height:0;
}
.highlight-box .inner{
    position:relative;
    min-height:0;
}
/*Mag 20090723: Added temporarily to fix error in legal signup hosted by tOm as this will all be overridden by new form styles soon enough*/
#content .third-party ul#opt-outs li {
    width:665px;
    float:left;
}
.two-col-lists-3 li div {
    min-height:70px;
}
#right-home .three-col-links .list-area {
    padding-bottom:7px;
}

/* Switch forms */
#switch-details fieldset.left-label {
    background:url(/assets/images/design/bg-switch-form-top.gif) no-repeat 0 10px;
}
#switch-details fieldset .field-wrapper {
    padding-bottom:10px;
}
#switch-details fieldset .no-label {
    padding-bottom:10px;
}
#switch-details fieldset div.gap{
    padding-bottom:20px;
}
#compare-table {
	border-collapse:collapse;
}

/* Landing pages */
.a-grow .a-link {
    padding-top:1px;
    padding-bottom:7px;
}
.js-promo-br .wrapper {
    padding-bottom:0;
}
.js-promo-ma {
    margin-bottom:0;
}

/* Flash panel and landing page list on homepage*/
#welcome-panel {margin-bottom:5px;}
#show-hide-home {margin-bottom:10px;}
#switch-results #content #current-filters li a:hover, #content #current-filters li a:active, #content #current-filters li a:focus {
    background:none;
}
#results-filter label input {
    margin-left:-4px;    
}
#content #results-filter label.check span {
    margin-top:2px;
    padding-left:4px;
}
#results-filter .check input {
    margin-top:1px;
}
/*-ve sign appearing on top of -ve saving value on results page; 
i.e.    -     instead of -9999.99
     9999.99

*/
.annual-saving {
	width: 200px;
}