/* Hide everything */
body {width:95% !important; margin:0; background:#FFF !important; font-size:12pt;}
body  * {border:none;}
/*
body * {visibility:hidden; height:0;}
IE throws up with this decalration so need to target specific elements to hide instead
*/

#masthead ul,
#masthead em,
#tabs,
#user-controls,
#breadcrumbs,
#sub-nav,
#content #carousel,
#carousel-reviews,
#categoric-index,
#report-listing,
#cat-header,
#sidebar,
#footer,
#signUp,
#TB_overlay {visibility:hidden; height:0; display:none;}

/* Show Which? logo */
#logo img {visibility:visible !important; display:block !important; height:auto !important; float:none;}

/* Show thickbox panel */
#thick-box-popup {clear:both !important; background:none;}
#thick-box-popup * {visibility:visible !important; width:auto !important; height:auto !important; overflow:visible !important;}
#TB_window {margin:0 !important; margin:0; position:absolute; top:60px; left:0; z-index:100; background:#FFF;}
#TB_ajaxContent {overflow:visible !important;}
#thick-box-popup .window-lid, #thick-box-popup .window-footer {visibility:hidden !important; display:none !important;}

/* Light presentation styling
#masthead {border:none;} */
#content  h1 {display:block !important; color:#C00; font-size:180%;}
#content  .subheading-a {display:block !important; color:#666 !important; font-size:90%;}

/* Print hyperlinks after link text*/
a {text-decoration:underline;}
a[href]:after {
   content: " (" attr(href) ") ";
   font-size: 85%;
   color:#C30;
}
a[href^="/"]:after {content: " (http://www.which.co.uk" attr(href) ") ";}
#logo:after {content: ""}